.btn-purple{
    background-color: #91216C;
    color: white;
}

.custom-hr {
    border: none;
    border-bottom: 3px solid #9B9A9E; /* Light gray color for the line */
    margin-right: 0; 
    margin-left: 0;
    margin-top: 0;
  }
  
  
  