.btn-purple{
    background-color: #91216C;
    color: white;
}

.custom-hr {
    border: none;
    border-bottom: 1px solid #9B9A9E; /* Light gray color for the line */
    margin: 0rem 0; /* vertical spacing */
  }
  
  
  