/* Font Styles <------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans-reg {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*Buttons and Horizontal Lines Styles <-------------------------------- */



.icon-img {
    width: 24px;
    /* Adjust icon size as needed */
    height: 24px;
    /* Adjust icon size as needed */
}

.navbar-nav .nav-link span {
    font-size: 0.75rem;
    /* Adjust label size as needed */
}

.btn-purple {
    background-color: #91216C;
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* Space between button and other links */
    margin-right: 20px;
}

.btn-outline {
    color: gray;
    background-color: white;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 10px;
    height: 35px;
    width: 80px;
}

.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.step {
    display: flex;
    align-items: center; /* Align items (circle and text) horizontally */
    flex-direction: row; /* Ensure the text is beside the circle */
    text-align: left;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
}

.vbox {
    width: 100%;
    max-width: 600px; 
    padding: 30px;
    margin: 0 auto; 
    border: 1px solid #ccc; 
    background-color: white; 
  }

  .xbox {
    width: 100%;
    max-width: 750px; 
    padding: 30px;
    margin: 0 auto; 
    border: 1px solid #ccc; 
    background-color: white; 
  }

  .upload-section {
    border: 2px dashed #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    min-height: 150px;
  }

  .upload-section .icon {
    text-align: center;
    font-size: 50px;
    color: #6c757d;
    margin-bottom: 5px;
  }

  .upload-section input {
    text-align: center;
    display: none;
  }

.form-section {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.prefix {
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

input[type="tel"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.send-otp {
    padding: 10px 20px;
    background-color: #8b206a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.note {
    font-size: 12px;
    color: #666;
}

.otp-inputs {
    display: flex;
    margin: 10px 0; 
    gap: 10px;
}

.otp-inputs input,
.btn.confirm {
    height: 40px;
}

.otp-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 5px; 
}

.otp-input {
    width: 60px;
    height: 60px;
    font-size: 0px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.otp-input:focus {
    border-color: #8b206a; 
    outline: none;
}

.confirm {
    padding: 10px 20px;
    background-color: #8b206a;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    height: 100%; 
    text-decoration: none;
}


.otp-inputs input.otp-box {
    width: 40px; 
    height: 100%;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
}

.otp-inputs input {
    width: 35px; 
    height: 35px; 
    font-size: 14px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
.step.active .circle {
    background-color: #8b206a; /* Dark magenta color */
    color: white;
}

.step.done .circle {
    background-color: lightgreen; /* Dark magenta color */
    color: white;
}

.step p {
    margin-left: 10px; /* Add some space between the circle and the text */
    font-size: 14px;
    color: #666;
    
}

.line {
    width: 180px;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
}


.btn-link {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #91216C;
    height: 35px;
    width: 80px;
}

.btn-auth {
    background-color: #91216C;
    color: white;
    max-width: 400px;
    max-height: 50px;
    height: 40px;
    width: 350px;
}

.text-center .btn-auth {
    background-color: #91216C;
    color: white;
    max-width: 200px;
    max-height: 50px;
    height: 30px;
    width: 200px;
}

.btn-auth:disabled {
    background-color: rgba(145, 33, 108, 0.5);
    /* 50% transparent color */
    border-color: none;
    cursor: default;
    /* Change cursor to indicate the button is not clickable */
}

.custom-hr {
    border: none;
    border-bottom: 3px solid #9B9A9E;
    /* Light gray color for the line */
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.btn-create {
    background-color: white;
    color: black;
    max-width: 500px;
    max-height: 100px;
    height: 40px;
    width: 200px;
    align-items: center;
}

/*Text Colors <---------------------------------------*/

.text-purple {
    color: #91216C;
    text-decoration: none;
}

.txt-purple {
    color: #91216C;
}

body,
html {
    height: 100%;
    margin: 0;
}

/*Sign Up Page <------------------------------------------------------------------------------------------------------*/
.bg-signup {
    position: absolute;
    z-index: -1;
    background: url('/assets/sign up.svg');
    opacity: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 5px;
    padding-left: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 40px);
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    position: fixed;
}

.txt-smaller {
    font-size: 12px;
}

select#day,
select#month,
select#year {
    background-color: #f8f9fa;
    /* Light gray background */
    color: #6c757d;
    /* Dark gray text */
}

/*Welcome Page <-------------------------------------------------------------------------------------------------------*/

.hero {
    background: url('/assets/bg_center.svg') repeat center;
    width: 50%;
    min-height: 250px;
    padding: 20px 0;
}

.service-categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
}

.freelancers,
.jobs {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

.hero .input-group {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.hero .form-control {
    height: 40px;
}

.hero .btn {
    height: 40px;
    border: none;
    background-color: white;
}

.custom-mob-card {
    box-shadow: 0px 1px 0px rgba(75, 74, 74, 0.5);
    border: none;
    flex: 0 0 calc(25% - 1rem);
}


.custom-card {
    flex: 0 0 calc(20% - 1rem);
    margin-bottom: 1rem;
    margin: 0;
    box-shadow: 0px 1px 2px rgba(75, 74, 74, 0.5);

}

.service-pic-size {
    height: 120px;
    width: 120px;
    object-fit: contain;
    align-self: center;
    margin-bottom: 20px;
}

.custom-card .card-body {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: -40px;
}

.carousel-item .col-4 {
    flex: 0 0 auto;
    width: 33.3333%;
    /* Three cards per row */
}

.freelancer-card {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.freelancer-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
    background-color: none;
}


/* Client Homepage <-------------------------------------------------------------------------------------------------*/

.search-container {
    background-image: url('/assets/bg_homepage.svg');
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 20px;
}

.input-group {
    border-radius: 50px;
    padding: 10px 15px;
}

.form-control {
    border: none;
    border-radius: 50px;
}


.input-group-text {
    top: 50%;
    transform: translateY(-50%);
}

.create-event-btn {
    margin-top: 10px;
    background-color: #ffffff;
    /* White background for button */
    color: #000;
    /* Black text color */
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.create-event-btn i {
    margin-left: 5px;
    /* Space between text and icon */
}

.create-event-btn .inside-icon {
    height: 25px;
    /* Adjust the size as needed */
    margin-right: 5px;
}

.shadow-btn {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    /* Adds shadow to the button */
}

.bookmark-icon {

    cursor: pointer;
    /* Makes the icon clickable */
}

.bookmarks-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Adjust column width as needed */
    padding: 16px;
}

.bookmark-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: gray;
    border-radius: 12px;
}

.shadow-box {
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    /* Adds shadow to the button */
}

.solo-service-cont {
    width: 310px;
    height: 370px;
    border-width: 1px;
    border-radius: 30px;
    border-color: #000;
}

/* Ensure the container aligns items correctly */
.col-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    margin-left: auto;
}


/* Freelancer Homepage <-------------------------------------------------------------------------------------------------*/

.btn-seemore {
    background-color: #91216C;
    color: white;
    margin: 0;
    text-decoration: none;
}

.btn-seemore:hover{
    background-color: #ad3d88 !important;
    color: white !important;
    border: 1px #ad3d88 solid !important ;
}

.rw-height-eventdesc {
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 60px; 
    line-height: 20px; 
    max-height: 60px; 
}

.rw-height-eventservices{
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 20px; 
    line-height: 10px; 
    max-height: 20px; 
}


.content-color{
    color: #666666;
}

.btn-seeprof {
    border-radius: 25px; 
    font-weight: 600; 
    border-color: #91216C; 
    color: #91216C;
    margin: 0;
    background-color: white;
    text-decoration: none;
    border: 1px solid #91216C;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-seeprof:hover{
    background-color: #ad3d88 !important;
    color: white !important;
}


.service {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.service img {
    max-width: 100%;
    /* Ensure image is responsive */
    height: fit-content;
    /* Maintain aspect ratio */
}

.service-body {
    margin-top: 0;
    /* Space between image and text */
}

.service-text {
    font-size: 1rem;
    /* Adjust text size */
    margin: 0;
    /* Remove default margin */
}

/*Freelancer ViewPost */
.fixed-tabs {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; /* Distance from the top of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
    background-color: #FCF2F9; /* Same as your tab background */
    border-bottom: 1px solid #b8b4b4; /* Optional: adds a border at the bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better visibility */
  }


  .rw-height-service {
    display: -webkit-box; 
    -webkit-box-orient: horizontal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 40px; 
    line-height: 20px; 
    max-height: 40px; 
}

/* My Jobs Page */

.nav-link.tabs-bg{
    background-color: white;
    color: #000; 
}

.nav-link.active.tabs-bg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #91216C;
}

.nav-link:hover.tabs-bg {
    color: black;
}


.letter-spacing {
    letter-spacing: 1px; 
}

.pending-color{
    color: #ACA9A9;
}








/* Box styles <----------------------------------------------- */
.box {
    background-color: white;
    max-width: 250px;
    height: 200px;
    width: 200px;
    padding: 0.35rem;
    border: 0.2px solid #d8d8da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    /* Smooth transition */
}

.first-box {
    margin-bottom: 1rem;
}



/* Image styling */
.box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Styles for the selected state */
.box.selected {
    border-color: #CF4EA4;
    /* Border color when selected */
}

.box.selected .box-content {
    border: 2px solid #CF4EA4;
    background-color: #F3E5F5;
    /* Light purple background for selected content */
}

.box.selected img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(94%) saturate(749%) hue-rotate(288deg) brightness(106%) contrast(93%);
    /* Adjust color to purple */
}

/*Profile Page */
.profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.profile-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}

.transition {
    transition: all 0.1s ease-in-out;
}

.fs-sm-name {
    font-size: 1.5rem;
    /* Font size for small screens */
}

.fs-sm {
    font-size: 0.875rem;
    /* Font size for small screens */
}

.fs-smaller {
    font-size: 0.675rem;
    /* Font size for small screens */
}

.verify-icon {
    color: #8FE2ED;
}

.light-color-prof {
    color: #66645E;
}

.star-rating {
    font-size: 0.85rem;
    color: #1c1c1d;
    /* Default color for empty stars */
    display: inline-block;
}

.star-rating i {
    cursor: pointer;
}

.star-rating i.filled {
    color: #ffd700;
    /* Color for filled stars */
}

.btn-chat {
    background-color: #E1C1D7;
    color: black;
    text-decoration: none;
}

.btn-report {
    color: rgb(245, 133, 133);
    margin: 0;
    background-color: white;
    text-decoration: none;
    border: 1px solid rgb(245, 133, 133);
}

.fs-sm-cont {
    font-size: 0.55rem;
}

.terms-container {
    background-color: #f1ecec;
}

.socmed-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: contain;
}

.txt-review {
    color: #91216C;
}

.rvw-container {
    background-color: white;
    border: #91216C solid 1px;
}

.fancybox-button--download {
    display: none !important;
}


/* Create Event Page <-------------------------------------------------------------------------*/
.custom-bg-page {
    background-color: #FCF2F9;
    height: max-content;
    width: max-content;
}

.open-sans-reg h3 {
    font-size: px; /* Default font size */
}
thead {
    background-color: #4CAF50; /* Change this to your desired color */
    color: white; /* Optional: Change the text color to ensure readability */
}

thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(5),
thead th:nth-child(6),  
thead th:nth-child(7){
    background-color: #E1C1D7; /* First column background */
    border: none;
    padding-right: 60px;
}
tbody td:nth-child(1){
    padding-right: 0px;
    padding-left: 20px;
}

tbody td:nth-child(2),
tbody td:nth-child(3),
tbody td:nth-child(4),
tbody td:nth-child(5){
    text-align: center;
    padding-top: 35px;
    padding-right: 60px;
}

.dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
}

.dropdown-item {
    padding: 10px 20px;
}

.dropdown-item strong {
    color: black;
}

.dropdown-item small {
    color: gray;
}


.offer-table th:nth-child(1), .offer-table th:nth-child(2),
.offer-table td:nth-child(1), .offer-table td:nth-child(2) {
    text-align: center; 
    vertical-align: middle;
    padding: 12px; 
}

.offer-table {
    margin: 0 auto;
}

.nav-item .dropdown-toggle-notif::after {
    display: none !important;
}

/* Default bell color */
.nav-link .fa-bell,
.nav-link .fa-envelope,
.nav-link .fa-bookmark {
    color: darkgray;
    transition: color 0.3s ease;
}

/* Bell color when hovered or focused */
.nav-link:hover .fa-bell,
.nav-link:focus .fa-bell {
    color: #91216C; /* Change to your desired color */
}

.nav-item.dropdown.show .nav-link .fa-bell {
    color: #91216C; 
}

.nav-link.active {
    position: relative;
    color: black; /* Ensure the active tab's text is black */
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #91216C; /* Customize the color of the line */
    border-radius: 100px; /* Make the line rounded if desired */
}


.nav-link h5 {
    font-size: 20px; /* Adjust the font size for smaller screens */
}

.nav-tabs .nav-link {
    border: none; /* Remove borders from non-active tabs */
}

.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #999; /* Optional: Add an underline on hover */
}

/* Setting Page */

input:disabled, 
textarea:disabled, 
select:disabled {
    background-color: rgb(255, 255, 255) !important; /* Example: Light gray color */
}

.setting-color{
    color: #464646;
}

.add-setting-clr{
    color: #CBCACA;
}

.setting-socmed-img{
    max-width: 40px; 
    max-height: 40px;
}

.btn-save{
    background-color: #E1C1D7;
    color: #91216C;
    text-decoration: none;
    border: 1px solid #ACA9A9;
}

.btn-cancel{
    background-color: white;
    color: #ACA9A9;
    text-decoration: none;
    border: 1px solid #ACA9A9;
}

.btn-verified{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #ACA9A9;
}

.btn-verify{
    background-color: #8FE2ED;
    color: black;
    text-decoration: none;
    border: none;
}

.accordion-body {
    word-wrap: break-word; /* Ensures long words or text wrap to the next line */
    overflow-wrap: break-word; /* Breaks long words to avoid overflow */
    
}




.event-title {
    font-size: 1.50rem; /* Font size of h5 */
}

/* Transactions */
.due-container {
    display: inline-block; 
}

.due-container:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
}



/*dito Phoebe lahat ng styles for large to medium screens ilagay*/

@media (min-width: 1400px) {

    /* Styles for large desktops */

}


@media (min-width: 1200px) {

    /* Styles for desktops */
  
}


@media (min-width: 992px) {

    /* Styles for small laptops */

}


/* Responsive styles for Tablets (≥ 768px) screens <----------------------------*/
@media (width >=768px) {
    

    /*sign up <-------------------------------*/
    .bg-signup {
        padding: 30px;
        padding-right: 240px;
        padding-left: 240px;
    }


    .fs-cstm-5 {
        font-size: 1.15rem;
    }

    .fs-cstm-6 {
        font-size: 0.75rem;
    }

    .btn-auth {
        background-color: #91216C;
        color: white;
        max-width: 500px;
        max-height: 100px;
        height: 40px;
        width: 450px;
    }

    .text-center .btn-auth {
        background-color: #91216C;
        color: white;
        max-width: 500px;
        max-height: 100px;
        height: 40px;
        width: 400px;
    }

    .box {
        width: 280px;
        height: 280px;
        max-width: 350px;
        padding: 2rem;

    }

    .first-box {
        margin-bottom: 2rem;
    }

    /* Image styling */
    .box img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    /*WelcomePage*/
    .hero {
        padding: 30px;
        padding-right: 240px;
        padding-left: 240px;
        height: 240px;
    }

    .hero .input-group {
        width: 600px;
    }

    .hero .form-control {
        height: 60px;
    }

    .hero .btn {
        height: 60px;
    }

    .size-bigger {
        font-size: 3.5rem;
    }

    #mobileCarousel {
        display: none;
    }

    #desktop-wc-view {
        display: flex;
    }

    /*ProfilePage */
    .fs-md {
        font-size: 1rem;
    }

    .fs-md-name {
        font-size: 2.25rem;
    }

    .fs-lg {
        font-size: 1.25rem;
    }

    .profile-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

   
    /* Client homepage <-------------------------------------------------------*/
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .search-bar {
        max-width: 60%;
        height: 65px;
    }

    .create-event-btn {
        flex-shrink: 0;
        white-space: nowrap;
        margin-left: 10px;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 3 columns */
        grid-gap: 20px;
    }

    /* Hide the carousel on larger screens */
    #cardCarousel,
    #cardCarouselteam {
        display: none;
    }

    .modal-sm .modal-dialog {
        max-width: 70%;
        margin: 3rem auto;
        /*Increase margin for larger screens */
        border-radius: 15px;
    }

    .modal-header h1 {
        font-size: 1.75rem;
        /* Increase the font size */
    }

    .modal-content {
        padding: 10px;
        max-height: calc(100vh - 3.5rem);
        /* Ensure modal fits within viewport */
        overflow-y: hidden;
        /* Prevent scrolling */
    }

    .modal-body .row {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .modal-body .col {
        flex: 1 1 45%;
        /* Adjust each column to take up 45% of width */
        margin-bottom: 1rem;
    }

    .modal-body input[type="radio"] {
        margin-right: 10px;
    }

    /* Setting */

    #mobileinfosetting{
        display: none;
    }

    .img-thumbnail{
        max-width: 200px; 
        max-height: 150px; 
        width: 150px;
        height: 100px;
        object-fit: cover; 
        margin: 5px;
    }

    .img-profile-portfolio{
        max-width: 500px; 
        max-height: 450px; 
        width: 250px;
        height: 200px;
        object-fit: cover; 
        margin: 5px;
    }

}





@media (min-width: 576px) {
    /* Styles for small tablets and larger phones */

}

@media(width <576px) {
    .carousel-item {
        width: 100%;
        /* Make sure the carousel items take full width */
        height: 300px;
        /* Set a fixed minimum height for consistency */
    }

    .card.custom-mob-card {
        width: 100%;
        /* Ensure cards take full width of the column */
        height: 100%;
        /* Ensure cards stretch to fill available space */
        display: flex;
        flex-direction: column;
    }

    .custom-mob-card .card-body .card-text {
        margin-top: -20px;
        /* If needed, adjust the margin to move the text closer to the image */
    }

    #nav-item-mobile {
        display: none;
    }

    #desktopview{
        display: none;
    }

    .img-thumbnail{
        max-width: 150px; 
        max-height: 125px; 
        object-fit: cover; 
        margin: 5px;
    }

    .img-profile-portfolio{
        max-width: 200px; 
        max-height: 150px; 
        width: 100px;
        height: 100px;
        object-fit: cover; 
        margin: 5px;
    }

    .profile-container img{
       width: 130px;
       height: 130px;
    }

}